{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('styles/category.style.css')}}">
{% endblock %}

{% block title %}Bande dessinée{% endblock %}

{% block body %}

	<div class="fondNoir">
		{{ render(controller(
        'App\\Controller\\SidebarController::navbarAction'))
        }}

		<div class="container-fluid">
			<div class="row">
                    {% if categories.name == name %}
				        <h2>{{categories.name}}</h2>
                    {% endif %}
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-3 ml-n3">
					{{ render(controller(
                    'App\\Controller\\SidebarController::sidebarAction'))
                	}}
				</div>

				<div class="col-md-9">
					<div class="container mb-5">
						<div class="row">
							{% for article in articles %}
								{% if article.category.name == name %}
									<div class="carte mx-auto col-8 col-sm-6 col-md-6 col-lg-5 mb-5">
										<div class="titleImg">
											<p>{{article.title}}</p>
										</div>
										<div class="contenusPhoto">
											<div class="row">
												<img width="300" src="{{article.photo}}">
												<p>{{article.createdAt | date("d/m/Y")}}</p>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
{# 
		<div class="row justify-content-around">
			<div class="col-3">
				{% if from > 1 %}
					<a  href="{{path('category', {name:categories.name}, {page: from - 1}) }}" class="btn btn-primary mb-4">Précédent</a>
				{% endif %}
			</div>
			<div class="col-3">
				{% if not pageFuture is empty %}
					<a href="{{ path('category', {name:categories.name}, {page: from + 1}) }}" class="btn btn-primary mb-4">Suivant</a>
				{% endif %}
			</div>
		</div> #}

	</div>


{% endblock %}

{% block javascripts %}
	<script src="{{asset('scripts/effet.js')}}"></script>
{% endblock %}
