{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('styles/mise-en-scene.style.css')}}">
{% endblock %}

{% block body %}

	{% include "components/ResponsiveNav.html.twig" %}

	<h1 class="title">Mise-En-Scène</h1>

	<div class="row">
		<div class="col-3">
			{% include "components/sidebar.html.twig" %}
		</div>
		<div class="col-9 vid">
			<video controls>

				<source src="{{asset('videos/WBZE.mp4')}}" type="video/mp4">

			</video>
		</div>
	</div>


	<div class="container">
		{# {% for article in articles %}
			{% if category.name == 'mise-en-scene' %} #}
		<div class="row form">
				<div class="card mr-5 mb-5" style="width: 22rem;">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
					<img src="{{asset('images/index.jpeg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card mr-5 mb-5" style="width: 22rem;">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
					<img src="{{asset('images/index.jpeg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card mr-5 mb-5" style="width: 22rem;">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
					<img src="{{asset('images/index.jpeg')}}" class="card-img-top" alt="...">
				</div>
				<div class="card mr-5 mb-5" style="width: 22rem;">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
					<img src="{{asset('images/index.jpeg')}}" class="card-img-top" alt="...">
				</div>
			
			</div>
		</div>
	</div>
		{# {% endif %}
			{% endfor %} #}

{% endblock %}

{% block javascripts %}
	<script src="{{asset('scripts/mise-en-scene.js')}}" ></script>
{% endblock %}
