<div class="contentSidebar mt-4 pl-n5 ml-n2">
    <div class="sidebarTop p-1">
        <p>Mes réalisations</p>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="sidebarElement pt-1 pb-1">
            <a class="retour" href="{{ path("home")}}">Accueil</a>
            <div class="dropdown-divider"></div>
            {% for category in categories %}
                <a class="pages" href="{{ path("category", {name:category.name}) }}">{{category.name}}</a>
                <div class="dropdown-divider"></div>
            {% endfor %}
            <a class="pages" href="{{ path("dashboard")}}">Dashboard</a>
            {% if app.user %}
                <div class="dropdown-divider"></div>
                <a class="pages" href="{{ path('logout') }}" >Se déconnecter</a>
            {% endif %}
        </div>
    </div>    

    <div class="sidebarBottom p-1">
        <i class="fas fa-arrows-alt-v fa-2x	" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"></i>
    </div>
</div>