<div class="contentSidebar">
    <div class="sidebarTop p-1">
        <p>Mes réalisations</p>
    </div>
    <div class="sidebarElement pt-1">
        <a class="pages" href="{{asset ("/adaptation-cinema")}}">Adaptation cinéma</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/bande-dessinee")}}">Bande dessinée</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/cinema")}}">Photo cinéma</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/ecrits")}}">Ecrits</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/enseignements")}}">Enseignement</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/livres-objets")}}">Livres-Objets</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/mise-en-scene")}}">Mise-en-scène</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/sculptures")}}">Sculptures</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/theatre")}}">Théatre</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/peinture")}}">Peintures</a>
        <div class="dropdown-divider"></div>
        <a class="pages" href="{{asset ("/dashboard")}}">Dashboard</a>

    </div>
    <div class="sidebarBottom p-1">
        <i class="fas fa-arrow-alt-circle-up fa-2x"></i>
    </div>
</div>