
{% block body %}

	<div class="container">
		{{ form_start(articleForm) }}
		<div class="form-group mt-5">
			<div class="row">
				<div class="col-4">
					{{ form_row(articleForm.title, {'attr': {class : "form-control"}}) }}
				</div>
			</div>
            <div class="row">
				<div class="col-4">
					{{ form_row(articleForm.content, {'attr': {class : "form-control"}}) }}
				</div>
			</div>
            <div class="row">
				<div class="col-4">
					{{ form_row(articleForm.created_at, {'attr': {class : "form-control"}}) }}
				</div>
			</div>
            <div class="row">
				<div class="col-4">
					{{ form_row(articleForm.photo, {'attr': {class : "form-control"}}) }}
				</div>
			</div>
            <div class="row">
				<div class="col-4">
					{{ form_row(articleForm.category, {'attr': {class : "form-control"}}) }}
				</div>
			</div>
			
			<div class="row">
				{{ form_row(articleForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
			</div>
		</div>

		{{ form_end(articleForm) }}
	</div>


{% endblock %}
